# Random Forest Regressor

In [1]:
# Importing the libraries
import numpy as np # for array operations
import pandas as pd # for working with DataFrames
import requests, io # for HTTP requests and I/O commands
import matplotlib.pyplot as plt # for data visualization
%matplotlib inline

# scikit-learn modules
from sklearn.model_selection import train_test_split # for splitting the data
from sklearn.metrics import mean_squared_error # for calculating the cost function
from sklearn.ensemble import RandomForestRegressor # for building the model

In [2]:
# Importing the dataset from the url of the data set
n=1000000
data = pd.read_csv('all_features_scaled_RandomForest.csv')
# data = data.drop('Unnamed: 0',axis=1)
data.head()

,Total_Likes,Total_Retweets,Series_Amount,tweet_count,get_dayrange,get_dayiqr,likes_mean,retweets_mean,persontag_count_mean,hashtag_count_mean,...,is_Mobile_scaled,is_Web Hosting_scaled,is_Series_A_scaled,is_Series_B_scaled,is_Series_C_scaled,is_Series_D_scaled,mean_neg_scaled,mean_pos_scaled,total_neg_scaled,total_pos_scaled
0,230,134,15000000,213,13,7,1.863850,1.521127,0.957746,1.098592,...,0.0,0.0,0.000000,0.000000,0.14693,0.0,0.023806,0.041962,0.009406,0.055760
1,15,23,5500000,163,1,1,0.092025,0.141104,0.582822,1.515337,...,0.0,0.0,0.000000,0.533597,0.00000,0.0,0.015238,0.033029,0.005780,0.006125
2,58,21,20000,173,83,43,1.312139,0.393064,0.364162,0.520231,...,0.0,0.0,0.000000,0.000000,0.14693,0.0,0.023102,0.038169,0.026871,0.053475
3,2,28,7000000,177,251,131,0.011299,0.158192,0.593220,0.468927,...,0.0,0.0,0.000000,0.533597,0.00000,0.0,0.016218,0.028414,0.000000,0.000000
4,42,43,12000000,215,47,24,0.195349,0.241860,0.646512,0.497674,...,0.0,0.0,0.213086,0.000000,0.00000,0.0,0.021695,0.042527,0.012933,0.067520

In [3]:
# data.index= data['mean_pos_scaled']
x = data.drop('Series_Amount',axis=1) # Features
y = data['Series_Amount']  # Target

In [4]:
x.head()

,Total_Likes,Total_Retweets,tweet_count,get_dayrange,get_dayiqr,likes_mean,retweets_mean,persontag_count_mean,hashtag_count_mean,text_length_mean,...,is_Mobile_scaled,is_Web Hosting_scaled,is_Series_A_scaled,is_Series_B_scaled,is_Series_C_scaled,is_Series_D_scaled,mean_neg_scaled,mean_pos_scaled,total_neg_scaled,total_pos_scaled
0,230,134,213,13,7,1.863850,1.521127,0.957746,1.098592,130.516432,...,0.0,0.0,0.000000,0.000000,0.14693,0.0,0.023806,0.041962,0.009406,0.055760
1,15,23,163,1,1,0.092025,0.141104,0.582822,1.515337,181.895705,...,0.0,0.0,0.000000,0.533597,0.00000,0.0,0.015238,0.033029,0.005780,0.006125
2,58,21,173,83,43,1.312139,0.393064,0.364162,0.520231,149.664740,...,0.0,0.0,0.000000,0.000000,0.14693,0.0,0.023102,0.038169,0.026871,0.053475
3,2,28,177,251,131,0.011299,0.158192,0.593220,0.468927,108.621469,...,0.0,0.0,0.000000,0.533597,0.00000,0.0,0.016218,0.028414,0.000000,0.000000
4,42,43,215,47,24,0.195349,0.241860,0.646512,0.497674,104.497674,...,0.0,0.0,0.213086,0.000000,0.00000,0.0,0.021695,0.042527,0.012933,0.067520

In [5]:
# import pandas as pd
# df = pd.read_csv('all_features_scaled_RNN.csv', header=None, index_col=0, squeeze = True, 
# df.columns
# # d = (df.to_dict())
# # print(d.keys() ,":", d.values())

In [6]:
# vec.fit_transform(x).toarray()

In [7]:
# Fitting Random Forest Regression to the dataset
# import the regressor
from sklearn.ensemble import RandomForestRegressor

# create regressor object
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)

# fit the regressor with x and y data
regressor.fit(x, y)

RandomForestRegressor(random_state=0)

In [8]:
# Splitting the dataset into training and testing set (80/20)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 28)

In [9]:
# Initializing the Random Forest Regression model with 10 decision trees
model = RandomForestRegressor(n_estimators = 10, random_state = 0)

# Fitting the Random Forest Regression model to the data
model.fit(x_train, y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [10]:
# Predicting the target values of the test set
y_pred = model.predict(x_test)

# RMSE (Root Mean Square Error)
rmse = float(format(np.sqrt(mean_squared_error(y_test, y_pred)), '.3f'))
print("\nRMSE: ", rmse/n)

RMSE:  1.945301975